@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root{
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

body{
    background-color: var(--Eggshell);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 1px);
}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.headings{
    font-family: 'Young Serif', sans-serif;
    font-size: 400;
    color: var(--Nutmeg);
}

.title-and-description h1{
    color: var(--Dark-Charcoal);
    margin-bottom: 1rem;
}

.title-and-description p{
    margin-bottom: 2rem;
}

.preparation{
    background-color: var(--Rose-White);
    margin-bottom: 1rem;
    padding: 2rem;
}

.preparation h3{
    color: var(--Dark-Raspberry);
    margin-bottom: 1rem;
}

.preparation-list p{
    display: inline;
}

li{
    list-style-position: inside;
    color: var(--WengeBrown); 
    margin-bottom: 1.5rem;
}

.preparation-item::marker{
    color: var(--Dark-Raspberry);
}

.ingredients h2{
    margin-bottom: 1.5rem;
}

.ingredients-item::marker{
    color: var(--Nutmeg);
}

hr{
    margin-bottom: 1.5rem;
}

.instructions h2{
    margin-bottom: 1.5rem;
}

.instructions-list p{
    display: inline;
}


.instructions-item::marker{
    color: var(--Nutmeg);
}
